%% -*- erlang -*-
%%

[
 {lager, [{log_root, "/var/erlang/tellpub/log"},
          {handlers, [
                      {lager_console_backend,
                       [info, {lager_default_formatter,
                                [date, " ", time," [",severity,"] ",pid, " ",
                                 module, ":", line, " ", message, "\n"]}]},
                      {lager_file_backend,
                       [{file, "error.log"}, {level, warning},
                        {size, 10485760}, {date, "$D0"}, {count, 5}]},
                      {lager_file_backend,
                       [{file, "console.log"}, {level, info},
                        {size, 10485760}, {date, "$D0"}, {count, 5}]}
                     ]}
          ]},

 {tellstick,
  [{options,[
	     {device, "/dev/serial/by-id/usb-Telldus_TellStick_Duo_A501IVWP-if00-port0"},
	     {variant, duo}, %% stick|duo|net|simulated
	     {retry_timeout, infinity}
	    ]}
  ]},

 {tellpub,
  [{action_list,
    [
     {[{protocol,"arctech"},{model,"codeswitch"},{data,3597}],
      5000,
      <<"sensor.motion.frontdoor">>, 1},

     {[{protocol,"arctech"},{model,"codeswitch"},{data,1549}],
      5000,
      <<"sensor.motion.frontdoor">>, 0},

     {[{protocol,"arctech"},{model,"codeswitch"},{data,3889}],
      5000,
      <<"sensor.motion.backyard">>, 1},

     %% this event will be received 23:00 from telldus
     {[{protocol,"arctech"},{model,"selflearning"},{data,2018910592}],
      5000,
      <<"light.outdoor.tree">>, 0},

     %% this event will be received at sunset to turn on outdor lights
     {[{protocol,"arctech"},{model,"selflearning"},{data,1794470800}],
      5000,
      <<"light.outdoor.tree">>, 1}

    ]}]}

].
